<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercaSys</title>

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="app">
      <aside class="sidebar">
        <h2>MercaSys</h2>

        <nav>
          <a href="/">🏠 Dashboard</a>

          <a href="#">🛒 Ventas</a>

          <a href="#">📦 Productos</a>

          <a href="#">📋 Inventario</a>

          <a href="#">💰 Caja</a>

          <a href="#">📊 Reportes</a>

          <a href="#">⚙ Configuración</a>
        </nav>
      </aside>

      <main class="content">
        <header>
          <h1>Dashboard</h1>
        </header>

        <section>
          <h2>Bienvenido Carlos 👋</h2>

          <p>Hoy comenzamos el desarrollo de MercaSys.</p>
        </section>
      </main>
    </div>
  </body>
</html>
